<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Organization email #<%= @organization_email.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/organization_emails" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @organization_email.user %>
          <a href="/organization_emails/<%= @organization_email.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit organization_email
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @organization_email.user %>
          <a href="/delete_organization_email/<%= @organization_email.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete organization_email
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @organization_email.user.present? %>
          <a href="/users/<%= @organization_email.user_id %>">
            <%= @organization_email.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @organization_email.status %>
      </dd>

      <dt>
        Organization email
      </dt>
      <dd>
        <%= @organization_email.organization_email %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@organization_email.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@organization_email.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

