<h1>
  Edit travel plan #<%= @travel_plan.id %>
</h1>

<hr>

<form action="/update_travel_plan/<%= @travel_plan.id %>" method="post">

  <div class="form-group">
    <label for="plan_description">
      Plan description
    </label>

    <input type="text" id="plan_description" name="plan_description" class="form-control" value="<%= @travel_plan.plan_description %>">
  </div>

  <div class="form-group">
    <label for="start">
      Start
    </label>

    <input type="text" id="start" name="start" class="form-control" value="<%= @travel_plan.start %>">
  </div>

  <div class="form-group">
    <label for="end">
      End
    </label>

    <input type="text" id="end" name="end" class="form-control" value="<%= @travel_plan.end %>">
  </div>


  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @travel_plan.status %>">
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :user_id, @travel_plan.location_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update travel plan
  </button>
</form>

<hr>

<a href="/travel_plans">
  Go back
</a>
