<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Travel plan #<%= @travel_plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/travel_plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link travel_plan start -->
      <div class="col">
        <a href="/travel_plans/<%= @travel_plan.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit travel plan
        </a>
      </div>
      <!-- Edit link travel_plan end -->

      <!-- Delete link travel_plan start -->
      <div class="col">
        <a href="/delete_travel_plan/<%= @travel_plan.id %>" class="btn btn-block btn-outline-secondary">
          Delete travel plan
        </a>
      </div>
      <!-- Delete link travel_plan end -->
    </div>

    <dl>
      <dt>
        Plan description
      </dt>
      <!-- Display plan_description start -->
      <dd>
        <%= @travel_plan.plan_description %>
      </dd>
      <!-- Display plan_description end -->

      <dt>
        Start
      </dt>
      <!-- Display start start -->
      <dd>
        <%= @travel_plan.start %>
      </dd>
      <!-- Display start end -->

      <dt>
        End
      </dt>
      <!-- Display end start -->
      <dd>
        <%= @travel_plan.end %>
      </dd>
      <!-- Display end end -->

      <dt>
        Owner
      </dt>
      <!-- Display owner_id start -->
      <dd>
        <%= @travel_plan.owner_id %>
      </dd>
      <!-- Display owner_id end -->

      <dt>
        Status
      </dt>
      <!-- Display status start -->
      <dd>
        <%= @travel_plan.status %>
      </dd>
      <!-- Display status end -->

      <dt>
        Location
      </dt>
      <!-- Display location_id start -->
      <dd>
        <%= @travel_plan.location_id %>
      </dd>
      <!-- Display location_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@travel_plan.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@travel_plan.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
