<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Travel plan #<%= @travel_plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/travel_plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @travel_plan.owner %>
          <a href="/travel_plans/<%= @travel_plan.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit travel_plan
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @travel_plan.owner %>
          <a href="/delete_travel_plan/<%= @travel_plan.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete travel_plan
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Plan description
      </dt>
      <dd>
        <%= @travel_plan.plan_description %>
      </dd>

      <dt>
        Start
      </dt>
      <dd>
        <%= @travel_plan.start %>
      </dd>

      <dt>
        End
      </dt>
      <dd>
        <%= @travel_plan.end %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <% if @travel_plan.owner.present? %>
          <a href="/users/<%= @travel_plan.owner_id %>">
            <%= @travel_plan.owner.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @travel_plan.status %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @travel_plan.location.present? %>
          <a href="/locations/<%= @travel_plan.location_id %>">
            <%= @travel_plan.location.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@travel_plan.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@travel_plan.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

