<form action="/create_travel_plan_from_location" method="post">

  <div class="form-group">
    <label for="plan_description">
      Plan description
    </label>

    <input type="text" id="plan_description" name="plan_description" class="form-control" value="<%= @travel_plan.plan_description %>">
  </div>

  <div class="form-group">
    <label for="start">
      Start
    </label>

    <input type="text" id="start" name="start" class="form-control" value="<%= @travel_plan.start %>">
  </div>

  <div class="form-group">
    <label for="end">
      End
    </label>

    <input type="text" id="end" name="end" class="form-control" value="<%= @travel_plan.end %>">
  </div>

  <input type="hidden" name="owner_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @travel_plan.status %>">
  </div>

  <input type="hidden" name="location_id" value="<%= @location.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create travel plan
  </button>
</form>
