<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit location #<%= @location.id %>
</h1>

<hr>

<form action="/update_location/<%= @location.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @location.user_id %>">
  </div>

  <div class="form-group">
    <label for="travel_id">
      Travel
    </label>

    <input type="text" id="travel_id" name="travel_id" class="form-control" value="<%= @location.travel_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
