<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Group #<%= @group.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/groups" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link group start -->
      <div class="col">
        <a href="/groups/<%= @group.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit group
        </a>
      </div>
      <!-- Edit link group end -->

      <!-- Delete link group start -->
      <div class="col">
        <a href="/delete_group/<%= @group.id %>" class="btn btn-block btn-outline-secondary">
          Delete group
        </a>
      </div>
      <!-- Delete link group end -->
    </div>

    <dl>
      <dt>
        Group name
      </dt>
      <!-- Display group_name start -->
      <dd>
        <%= @group.group_name %>
      </dd>
      <!-- Display group_name end -->

      <dt>
        Group description
      </dt>
      <!-- Display group_description start -->
      <dd>
        <%= @group.group_description %>
      </dd>
      <!-- Display group_description end -->

      <dt>
        Group photo
      </dt>
      <!-- Display group_photo start -->
      <dd>
        <%= @group.group_photo %>
      </dd>
      <!-- Display group_photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@group.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@group.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_members" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_admins" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_users" %>
  </div>
</div>
<!-- Show Page Customization end -->
