<h1>
  Edit group membership #<%= @group_membership.id %>
</h1>

<hr>

<form action="/update_group_membership/<%= @group_membership.id %>" method="post">


  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :group_name, @group_membership.group_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="admin_approval">
      Admin approval
    </label>

    <input type="text" id="admin_approval" name="admin_approval" class="form-control" value="<%= @group_membership.admin_approval %>">
  </div>

  <div class="form-group">
    <label for="user_accept">
      User accept
    </label>

    <input type="text" id="user_accept" name="user_accept" class="form-control" value="<%= @group_membership.user_accept %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update group membership
  </button>
</form>

<hr>

<a href="/group_memberships">
  Go back
</a>
